<!DOCTYPE html>
<html>
    <head>
     <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="../style/formstyling.css">
    </head>
    <body>
        <h1>Update form</h1>
        <main>
            <div class="container form">
                <form action="/api/postman/update" method="post" class="form-tag">
                     <fieldset class="fieldset2">
                        <legend class="logo"><img
                            src="https://img.icons8.com/external-filled-outline-mangsaabguru-/64/000000/external-bubble-back-to-work-filled-outline-mangsaabguru-.png" />
                       </legend>
                         <div id="first-row">
                            <label class="labels">NewName</label></br>
                            <input class="input-tag" type="text" name="new_name" required></br>
                           </div>
                           <div id="first-row">
                            <label class="labels">UserName</label></br>
                            <input class="input-tag" type="text" name="current_name" required></br>
                           </div>
                           <div id="second-row">
                            <label class="labels">Password</label></br>
                            <input class="input-tag" type="password" name="user_password" required></br>
                           </div>
                             <button type="submit">Submit</button>
                    </fieldset>
                </form>
            </div>
        </main>
    </body>
</html>